#header("documentation", "Documentation - Kunagi", "Kunagi documentation and tutorials.", "Kunagi, documentation, tutorial, guide")

<div class="section">
    See also: <a href="faq.html">FAQ - frequently asked questions</a> and <a href="developerguide.html">developer guide</a>.
</div>


<div class="separator"></div>                    

<div class="section">
    $wiki.InstallDoc
</div>

#socialbuttonsmain()

#footer()