#header("index", "Kunagi - Agile project management based on Scrum", "$project.shortDescription", "Scrum, Project Management, agile, tool, demo")

<div class="section">
    <h2>What is Kunagi?</h2>
    $project.description
    
    #socialbuttonsmain()
    
    <p>Interested? Try the <strong>online demo</strong> or read the <strong>full description</strong> below!</p>
</div>

<div class="separator"></div>

#demosection()

<div class="separator"></div>

<div class="section">
    <h2>Full Description</h2>
    $project.longDescription
</div>

#footer()